p {
    color: violet;
}

h1 {
    background-color: green;
}

section p {
    color: red;
}

.cambiodeletra {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#seccion1 {

}

#seccion2 {
    
}